:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --accent-color: #2196f3;
  --hero-logo-text: #ffffff;
  --studio-color-text: #000000;
  --secondary-back-color: #2f303a;
  --team-btn-back-color: #f5f4fa;
  --hidden-btn-hero-color: #188ce8;
  --border: #ececec;
  --hero-bg-color: #c4c4c4;
  --social-list-icon: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.footer-socials__link, .worker__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-button, .hero__btn, .modal-button-submit {
  color: var(--hero-logo-text);
  background-color: var(--accent-color);
}

body {
  background-color: #ffffff;
  color: var(--primary-color-text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 737px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline;
  color: var(--accent-color);
}

.logo__second-part--black {
  color: var(--studio-color-text);
}

.logo__second-part--white {
  color: var(--hero-logo-text);
}

.logo__margin-bottom {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: flex;
    align-items: center;
  }
}
.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    column-gap: 50px;
    margin-left: 87px;
  }
  .menu__link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);
    line-height: 1.1;
    padding: 32px 0px;
    transition: color var(--transition-dur-and-func);
  }
  .menu__link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform var(--transition-dur-and-func);
  }
  .menu__link:hover::after, .menu__link:focus::after {
    transform: scaleX(1);
  }
  .menu__link--current {
    color: var(--accent-color);
  }
  .menu__link--current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: scaleX(1);
    transition: transform var(--transition-dur-and-func);
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 92px;
  }
}
@media screen and (max-width: 767px) {
  .open-mobile-menu-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (max-width: 767px) {
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
    fill: var(--accent-color);
  }
}
.mobile-menu__box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .mobile-nav__list {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.175;
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-nav__link {
    color: var(--secondary-color-text);
  }
  .mobile-nav__link--current {
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__contact-list {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.17;
    margin-top: auto;
    margin-bottom: 64px;
  }
  .mobile-menu__tel {
    color: var(--accent-color);
  }
  .mobile-menu__email {
    font-size: 24px;
    color: var(--primary-color-text);
  }
}
@media screen and (max-width: 767px) {
  .mobile-socials__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
  }
  .mobile-socials__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-socials__link {
    color: var(--accent-color);
  }
}
.auth-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .auth-nav--margin-left {
    margin-left: auto;
  }
  .auth-nav__icon {
    display: flex;
    align-items: center;
    fill: currentColor;
    margin-right: 10px;
  }
  .auth-nav__link {
    display: flex;
    align-items: center;
    color: var(--primary-color-text);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.1;
    transition: color var(--transition-dur-and-func);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
}
@media screen and (max-width: 1999px) {
  .title {
    color: var(--secondary-color-text);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
  }
  .title_margin-bottom {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    color: var(--secondary-color-text);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
  }
  .title_margin-bottom {
    margin-bottom: 50px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  color: var(--secondary-color-text);
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  padding-left: 42px;
  transition: border var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-input-wrapper {
  position: relative;
  display: block;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  display: block;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border var(--transition-dur-and-func);
}
.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  padding-left: 13px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-check {
  appearance: none;
  position: absolute;
}

.modal-own-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--secondary-color-text);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func);
}
.modal-check:checked + .modal-own-checkbox {
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
  border: none;
}
.modal-check:focus + .modal-own-checkbox {
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.5);
}

.modal-own-checkbox-icon {
  display: none;
}
.modal-check:checked + .modal-own-checkbox .modal-own-checkbox-icon {
  display: block;
  transition: fill var(--transition-dur-and-func);
}

.modal-text-agreement {
  font-size: 14px;
  line-height: 1.7;
}

.modal-conditions {
  color: var(--accent-color);
}
.modal-conditions:hover {
  text-decoration: none;
}

.modal-button-submit {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  align-self: center;
  width: 200px;
  height: 50px;
  border: none;
  padding: 10px 52px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.modal-button-submit:hover, .modal-button-submit:focus {
  background: var(--hidden-btn-hero-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .page-footer-container {
    justify-content: space-around;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer-container {
    flex-direction: row;
    align-items: start;
    text-align: start;
  }
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.hero {
  text-align: center;
  max-width: 480px;
  height: 400px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__text {
  color: var(--hero-logo-text);
  align-items: center;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__btn {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.9;
  padding: 10px 32px;
  border: 0;
  align-items: center;
  text-align: center;
  transition: background-color var(--transition-dur-and-func);
}
.hero__btn:hover, .hero__btn:focus {
  background: var(--hidden-btn-hero-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/mobile/header-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/tablet/header-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/tablet/header-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/work.jpg");
  }
  .hero__text {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images//desktop/work@2x.jpg");
  }
}
.benefits {
  display: block;
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__wrapper {
  display: flex;
  background-color: var(--team-btn-back-color);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.benefits__title {
  text-align: center;
  color: var(--secondary-color-text);
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .benefits__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
  .benefits__title {
    text-align: start;
  }
}
.work-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
  }
  .about {
    padding-top: 0px;
  }
  .example {
    display: flex;
    column-gap: 30px;
  }
  .example__icon {
    display: block;
    max-width: 100%;
  }
  .example__title {
    position: relative;
  }
  .example__over-text {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    width: 370px;
    height: 70px;
    text-transform: uppercase;
    color: var(--hero-logo-text);
    background: rgba(47, 48, 58, 0.8);
  }
}
.team-section {
  background-color: var(--team-btn-back-color);
}

.worker__icon {
  max-width: 100%;
  display: block;
  height: auto;
}

.worker__item {
  background-color: var(--hero-logo-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker__names-position {
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker__name {
  color: var(--secondary-color-text);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.003em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.worker__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.worker__socials {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.worker__socials-icon {
  display: flex;
  fill: var(--social-list-icon);
  transition: fill var(--transition-dur-and-func);
}
.worker__socials-link:hover .worker__socials-icon, .worker__socials-link:focus .worker__socials-icon {
  fill: var(--hero-logo-text);
}

.worker__socials-link {
  transition: background-color var(--transition-dur-and-func);
}
.worker__socials-link:hover, .worker__socials-link:focus {
  color: var(--hero-logo-text);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .workers {
    display: block;
  }
  .worker__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .workers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
  .worker__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .workers {
    display: flex;
    gap: 30px;
  }
  .worker__item {
    width: calc(100% - 22.5px);
  }
}
.customers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--social-list-icon);
  height: 92px;
  color: var(--social-list-icon);
  transition: color var(--transition-dur-and-func), border var(--transition-dur-and-func);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .customers__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    flex-wrap: nowrap;
  }
  .customers__item {
    flex-basis: calc(100% - 25px);
  }
}
.border-head {
  border-bottom: 1px solid var(--border);
}

.button {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  color: var(--secondary-color-text);
  background: var(--team-btn-back-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.portfolio-btn:active, .portfolio-btn:hover, .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-logo-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 1px rgba(0, 0, 0, 0.12);
}

.goods-overlay {
  position: relative;
  overflow: hidden;
  transform: translateY(0%);
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.5;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.section-icon:hover .overlay, .section-icon:focus .overlay {
  transform: translateY(0%);
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.goods {
  flex-basis: calc((100% - 60px) / 3);
}

.type {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
}

.section-icon {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}
.section-icon:hover, .section-icon:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-icon .icon-title {
  color: var(--secondary-color-text);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin-bottom: 4px;
}

.section-icon .icon-text {
  color: var(--primary-color-text);
  font-size: 16px;
  line-height: 1.9;
}

.page-footer-container__box {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.page-footer {
  background-color: var(--secondary-back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--hero-logo-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color var(--transition-dur-and-func);
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color var(--transition-dur-and-func);
}

.footer-socials__title {
  text-align: center;
  color: var(--hero-logo-text);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-socials__list {
  display: flex;
  column-gap: 10px;
}

.footer-socials__link {
  background: rgba(255, 255, 255, 0.1);
  color: var(--hero-logo-text);
  transition: background var(--transition-dur-and-func);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-mailing__input {
  font-family: Roboto, sans-serif;
  height: 50px;
  width: 100%;
  max-width: 450px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 15px;
  margin-right: 12px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.footer-button {
  font-family: Roboto, sans-serif;
  display: flex;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  cursor: pointer;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.footer-button:focus, .footer-button:hover {
  background: var(--hidden-btn-hero-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-button__icon {
  position: absolute;
  right: 35px;
  top: 15px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .page-footer-container__box {
    flex-direction: row;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer-container__box {
    flex-direction: row;
    gap: 60px;
    text-align: start;
    margin-bottom: 0;
  }
  .form-footer {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .footer-socials__title {
    text-align: start;
  }
  .subscribe {
    margin-left: auto;
  }
  .footer-mailing__input {
    width: 358px;
  }
}/*# sourceMappingURL=main.css.map */