.benefits {
  display: block;
}
.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__wrapper {
  display: flex;
  background-color: var(--team-btn-back-color);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.benefits__title {
  text-align: center;
  color: var(--secondary-color-text);
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .benefits__item {
    width: calc((100% - 30px) / 2);

    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
  .benefits__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
  .benefits__title {
    text-align: start;
  }
}
