.page-footer {
  background-color: var(--secondary-back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer-container__box {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
  margin-bottom: 60px;
}
.footer-socials__title {
  @include font(14px, 700, 0.03em);
  text-align: center;
  color: var(--hero-logo-text);
  margin-bottom: 20px;
  text-transform: uppercase;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer-container__box {
    flex-direction: row;
    align-items: baseline;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: start;
  }
  .page-footer-container__box {
    flex-direction: row;
    gap: 60px;
    margin-bottom: 0;
    align-items: baseline;
  }
  .footer-socials__title {
    text-align: start;
  }
}
