.page-header{
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo__second-part--black {
  color: var(--studio-color-text);
}
// .logo--margin-right {
//   margin-right: 93px;
// }
// .page-nav :hover,
// .page-nav :focus {
//   color: var(--accent-color);
// }

