@media screen and (min-width: 320px) {
  .overlay {
      position: relative;
    overflow: hidden;
    transform: translateY(0%);
  }
  .overlay__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1.5;
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);

    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    .grid__link:hover &,
    .grid__link:focus & {
      transform: translateY(0%);
    }
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .description {
    padding: 20px 24px;
    flex-grow: 1;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
  }
  .grid__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow var(--transition-dur-and-func);

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .description__title {
    color: var(--secondary-color-text);
    @include font(18px, 700, 0.06em);
    line-height: 2;
    margin-bottom: 4px;
  }
  .description__text {
    color: var(--primary-color-text);
    font-size: 16px;
    line-height: 1.9;
  }
  .overlay__thumb {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .grid__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .grid__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
