
.goods-overlay {
  position: relative;
  overflow: hidden;
  transform: translateY(0%);
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.5;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  .section-icon:hover &,
  .section-icon:focus & {
    transform: translateY(0%);
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.goods {
  flex-basis: calc((100% - 60px) / 3);
}

.type {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
}
.section-icon {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.section-icon .icon-title {
  color: var(--secondary-color-text);
  @include font(18px, 700, 0.06em);
  line-height: 2;
  margin-bottom: 4px;
}
.section-icon .icon-text {
  color: var(--primary-color-text);
  font-size: 16px;
  line-height: 1.9;
}
