@media screen and (min-width: 320px) {
  .footer-button {
    font-family: $fontPrimary;
    display: flex;
    position: relative;
    @include font(16px, 700, 0.06em);

    line-height: 1.88;
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    cursor: pointer;
    color: var(--hero-logo-text);
    background-color: var(--accent-color);
    transition: color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func),
      box-shadow var(--transition-dur-and-func);

    &:focus,
    &:hover {
      background: var(--hidden-btn-hero-color);
      box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
      border-radius: 4px;
    }
  }

  .footer-button__icon {
    position: absolute;
    right: 35px;
    top: 15px;
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }
}
