.logo {
  font-family: $fontLogo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo__second-part--black {
  color: var(--studio-color-text);
}
.logo__second-part--white {
  color: var(--hero-logo-text);
}
.logo__margin-bottom {
  display: inline-block;
  margin-bottom: 20px;
}
.border-head {
  border-bottom: 1px solid var(--border);
}
