.mobile-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 300px;
}
.mobile-nav__link {
  $fontPrimary: Roboto, sans-serif;
  @include font(40px, 500, 0.02em);
  line-height: 1.18;
  color: var(--secondary-color-text);
}
