@media screen and (min-width: 320px) {
  .modal-form__title {
    color: var(--secondary-color-text);
    @include font(20px, 700, 0.03em);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
  }
}
