.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
}
.modal-form-input {
  width: 100%;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  padding-left: 42px;
  transition: border var(--transition-dur-and-func);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-input-wrapper {
  position: relative;
  display: block;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-comment {
  display: block;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border var(--transition-dur-and-func);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  padding-left: 13px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.modal-check {
  appearance: none;
  position: absolute;
}

.modal-own-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--secondary-color-text);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func);

  .modal-check:checked + & {
    background-color: var(--accent-color);
    transition: background-color var(--transition-dur-and-func);
    border: none;
  }

  .modal-check:focus + & {
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.5);
  }
}

.modal-own-checkbox-icon {
  display: none;

  .modal-check:checked + .modal-own-checkbox & {
    display: block;
    transition: fill var(--transition-dur-and-func);
  }
}

.modal-text-agreement {
  font-size: 14px;
  line-height: 1.7;
}
.modal-conditions {
  color: var(--accent-color);

  &:hover {
    text-decoration: none;
  }
}

.modal-button-submit {
  @include font(16px, 700, 0.06em);
  align-self: center;
  width: 200px;
  height: 50px;
  border: none;
  padding: 10px 52px;
  border-radius: 4px;
  cursor: pointer;
  @extend %button;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background: var(--hidden-btn-hero-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
