:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --accent-color: #2196f3;
  --hero-logo-text: #ffffff;
  --studio-color-text: #000000;
  --secondary-back-color: #2f303a;
  --team-btn-back-color: #f5f4fa;
  --hidden-btn-hero-color: #188ce8;
  --border: #ececec;
  --hero-bg-color: #c4c4c4;
  --social-list-icon: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$fontPrimary: Roboto, sans-serif; 
$fontLogo: Raleway, sans-serif; 